In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load CSV files into DataFrames
#variable name not changed for checking purpose
morning_df = pd.read_csv('Evening-28th-June.csv')

In [3]:
# Explore the DataFrames 
print("Evening Data:")
morning_df.head()  # View the first few rows

Evening Data:

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Disclaimer Response,In Waiting Room
0,Agrima Jain,NaN,06/28/2024 08:56:01 PM,06/28/2024 08:59:15 PM,4,Yes,No Response,No
1,AIML-19-SHOUNAK_SARKAR,NaN,06/28/2024 08:56:04 PM,06/28/2024 08:57:19 PM,2,Yes,No Response,Yes
2,Akshita Roshan,NaN,06/28/2024 08:56:07 PM,06/28/2024 08:57:20 PM,2,Yes,No Response,Yes
3,Revanth Christober M,NaN,06/28/2024 08:56:08 PM,06/28/2024 08:57:24 PM,2,Yes,No Response,Yes
4,Krishna Singh (Akshita Roshan),akshita@agie.ai,06/28/2024 08:56:10 PM,06/28/2024 09:19:37 PM,24,No,OK,No

In [4]:
morning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Name (Original Name)           579 non-null    object
 1   User Email                     12 non-null     object
 2   Join Time                      579 non-null    object
 3   Leave Time                     579 non-null    object
 4   Duration (Minutes)             579 non-null    int64
 5   Guest                          579 non-null    object
 6   Recording Disclaimer Response  579 non-null    object
 7   In Waiting Room                579 non-null    object
dtypes: int64(1), object(7)
memory usage: 36.3+ KB

In [5]:
morning_df.isnull().sum()

Name (Original Name)               0
User Email                       567
Join Time                          0
Leave Time                         0
Duration (Minutes)                 0
Guest                              0
Recording Disclaimer Response      0
In Waiting Room                    0
dtype: int64

In [6]:
def univariate(morning_df):
    Qual=[]
    Quan=[]
    for columnName in morning_df:
        #print(columnName)
        if(morning_df[columnName].dtypes =='O'):
            #print('Qual')
            Qual.append(columnName)
        else:
            #print('Quan')
            Quan.append(columnName)
    return Qual,Quan

In [7]:
Qual,Quan = univariate(morning_df)

In [8]:
Quan

['Duration (Minutes)']

In [9]:
Qual

['Name (Original Name)',
 'User Email',
 'Join Time',
 'Leave Time',
 'Guest',
 'Recording Disclaimer Response',
 'In Waiting Room']

In [10]:
def check_null_values(morning_df, Qual, Quan):
    # Check for null values in Qual columns
    qual_null_counts = {col: morning_df[col].isnull().sum() for col in Qual}
    
    # Check for null values in Quan columns
    quan_null_counts = {col: morning_df[col].isnull().sum() for col in Quan}
    
    return qual_null_counts, quan_null_counts

# Assuming Qual and Quan are already defined using the univariate function
Qual, Quan = univariate(morning_df)

# Check for null values in Qual and Quan columns separately
qual_null_counts, quan_null_counts = check_null_values(morning_df, Qual, Quan)

# Print the null value counts for Qual and Quan columns
print("Null values in Qualitative columns:")
for col, count in qual_null_counts.items():
    print(f"{col}: {count}")

print("\nNull values in Quantitative columns:")
for col, count in quan_null_counts.items():
    print(f"{col}: {count}")

Null values in Qualitative columns:
Name (Original Name): 0
User Email: 567
Join Time: 0
Leave Time: 0
Guest: 0
Recording Disclaimer Response: 0
In Waiting Room: 0

Null values in Quantitative columns:
Duration (Minutes): 0

In [11]:
morning_df.describe()

       Duration (Minutes)
count          579.000000
mean            17.309154
std             17.728326
min              0.000000
25%              3.000000
50%             13.000000
75%             20.000000
max             85.000000

In [12]:
def central_tendency_IQR(morning_df, Quan):
        descriptive = pd.DataFrame(index=['Mean', 'Median', 'Mode', 'Q1:25%', 'Q2:50%', 'Q3:75%', 'Q4:100%', 'IQR', 'Lesser IQR', 'Greater IQR', 'min', 'max', 'kurtosis', 'skew','var','std'], columns=Quan)
    
        for columnName in Quan:
            descriptive.loc["Mean", columnName] = morning_df[columnName].mean()
            descriptive.loc["Median", columnName] = morning_df[columnName].median()
            descriptive.loc["Mode", columnName] = morning_df[columnName].mode()[0]
            descriptive.loc["Q1:25%", columnName] = morning_df[columnName].quantile(0.25)
            descriptive.loc["Q2:50%", columnName] = morning_df[columnName].quantile(0.50)
            descriptive.loc["Q3:75%", columnName] = morning_df[columnName].quantile(0.75)
            descriptive.loc["Q4:100%", columnName] = morning_df[columnName].max()
            descriptive.loc["IQR", columnName] = morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25)
            descriptive.loc["Lesser IQR", columnName] = morning_df[columnName].quantile(0.25) - 1.5 * (morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25))
            descriptive.loc["Greater IQR", columnName] = morning_df[columnName].quantile(0.75) + 1.5 * (morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25))
            descriptive.loc["min", columnName] = morning_df[columnName].min()
            descriptive.loc["max", columnName] = morning_df[columnName].max()
            descriptive.loc["kurtosis", columnName] = morning_df[columnName].kurtosis()
            descriptive.loc["skew", columnName] = morning_df[columnName].skew()
            descriptive.loc["var", columnName] = morning_df[columnName].var()
            descriptive.loc["std", columnName] = morning_df[columnName].std()
        return descriptive

In [13]:
descriptive = central_tendency_IQR(morning_df, Quan)

In [14]:
descriptive

            Duration (Minutes)
Mean                 17.309154
Median                    13.0
Mode                         1
Q1:25%                     3.0
Q2:50%                    13.0
Q3:75%                    20.0
Q4:100%                     85
IQR                       17.0
Lesser IQR               -22.5
Greater IQR               45.5
min                          0
max                         85
kurtosis              0.364811
skew                  1.245967
var                 314.293532
std                  17.728326

In [15]:
def check_outliers(morning_df, descriptive, Quan):
    lesser = []
    greater = []
    
    # Check for outliers
    for columnName in Quan:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return lesser, greater

In [16]:
check_outliers(morning_df, descriptive, Quan)

([], ['Duration (Minutes)'])

In [17]:
lesser,greater = check_outliers(morning_df,descriptive, Quan)

In [18]:
lesser

[]

In [19]:
greater

['Duration (Minutes)']

In [20]:
def replace_outliers(morning_df, descriptive, lesser, greater):
    for columnName in lesser:
        morning_df.loc[morning_df[columnName] < descriptive.loc['Lesser IQR', columnName], columnName] = descriptive.loc['Lesser IQR', columnName]

    for columnName in greater:
        morning_df.loc[morning_df[columnName] > descriptive.loc['Greater IQR', columnName], columnName] = descriptive.loc['Greater IQR', columnName]

    return morning_df

In [21]:
#Replace outliers in the dataset
morning_df = replace_outliers(morning_df, descriptive, lesser, greater)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_12240\3218543985.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '45.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  morning_df.loc[morning_df[columnName] > descriptive.loc['Greater IQR', columnName], columnName] = descriptive.loc['Greater IQR', columnName]

In [22]:
morning_df

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Disclaimer Response,In Waiting Room
0,Agrima Jain,NaN,06/28/2024 08:56:01 PM,06/28/2024 08:59:15 PM,4.0,Yes,No Response,No
1,AIML-19-SHOUNAK_SARKAR,NaN,06/28/2024 08:56:04 PM,06/28/2024 08:57:19 PM,2.0,Yes,No Response,Yes
2,Akshita Roshan,NaN,06/28/2024 08:56:07 PM,06/28/2024 08:57:20 PM,2.0,Yes,No Response,Yes
3,Revanth Christober M,NaN,06/28/2024 08:56:08 PM,06/28/2024 08:57:24 PM,2.0,Yes,No Response,Yes
4,Krishna Singh (Akshita Roshan),akshita@agie.ai,06/28/2024 08:56:10 PM,06/28/2024 09:19:37 PM,24.0,No,OK,No
...,...,...,...,...,...,...,...,...
574,Swastik Pathak,NaN,06/28/2024 10:15:32 PM,06/28/2024 10:21:50 PM,7.0,Yes,OK,No
575,Nithin K,NaN,06/28/2024 10:15:40 PM,06/28/2024 10:21:51 PM,7.0,Yes,No Response,No
576,Pranav Kanwale,NaN,06/28/2024 10:17:57 PM,06/28/2024 10:21:13 PM,4.0,Yes,No Response,No
577,Abhinav Singh,NaN,06/28/2024 10:19:44 PM,06/28/2024 10:21:50 PM,3.0,Yes,No Response,No
578,Neha Goyal,NaN,06/28/2024 10:20:46 PM,06/28/2024 10:22:17 PM,2.0,Yes,No Response,No

In [23]:
descriptive

            Duration (Minutes)
Mean                 17.309154
Median                    13.0
Mode                         1
Q1:25%                     3.0
Q2:50%                    13.0
Q3:75%                    20.0
Q4:100%                     85
IQR                       17.0
Lesser IQR               -22.5
Greater IQR               45.5
min                          0
max                         85
kurtosis              0.364811
skew                  1.245967
var                 314.293532
std                  17.728326

In [24]:
def recheck_outliers_after_replace(morning_df, descriptive, Quan):
    recheck_lesser = []
    recheck_greater = []
    
    # Check for outliers after replacement
    for columnName in Quan:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return recheck_lesser, recheck_greater

In [25]:
recheck_lesser, recheck_greater = recheck_outliers_after_replace(morning_df,descriptive, Quan)

In [26]:
recheck_lesser

[]

In [27]:
recheck_greater

[]

In [28]:
# Check if any outliers remain
if recheck_lesser or recheck_greater:
    print("Outliers still present after replacement.")
    # Perform additional actions if needed
else:
    print("No outliers remain after replacement.")

No outliers remain after replacement.

In [29]:
# Save the modified dataset to a new CSV file (for example)
modified_file_path = 'evening.csv'
morning_df.to_csv(modified_file_path, index=False)