In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load CSV files into DataFrames
morning_df = pd.read_csv('Morning-28th-June.csv')

In [3]:
# Explore the DataFrames 
print("Morning Data:")
morning_df.head()  # View the first few rows

Morning Data:

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,In Waiting Room
0,Krishna Singh (Akshita Roshan),akshita@agie.ai,06/28/2024 09:52:45 AM,06/28/2024 10:17:06 AM,25,No,No
1,Chetan Kumar,NaN,06/28/2024 09:52:52 AM,06/28/2024 09:52:57 AM,1,Yes,Yes
2,Akshita Roshan,NaN,06/28/2024 09:52:52 AM,06/28/2024 09:53:08 AM,1,Yes,Yes
3,Kshitij Tardalkar,NaN,06/28/2024 09:52:56 AM,06/28/2024 09:56:52 AM,4,Yes,Yes
4,Chetan Kumar,NaN,06/28/2024 09:52:57 AM,06/28/2024 10:16:12 AM,24,Yes,No

In [4]:
morning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name (Original Name)  724 non-null    object
 1   User Email            16 non-null     object
 2   Join Time             724 non-null    object
 3   Leave Time            724 non-null    object
 4   Duration (Minutes)    724 non-null    int64
 5   Guest                 724 non-null    object
 6   In Waiting Room       724 non-null    object
dtypes: int64(1), object(6)
memory usage: 39.7+ KB

In [5]:
morning_df.isnull().sum()

Name (Original Name)      0
User Email              708
Join Time                 0
Leave Time                0
Duration (Minutes)        0
Guest                     0
In Waiting Room           0
dtype: int64

In [6]:
def univariate(morning_df):
    Qual=[]
    Quan=[]
    for columnName in morning_df:
        #print(columnName)
        if(morning_df[columnName].dtypes =='O'):
            #print('Qual')
            Qual.append(columnName)
        else:
            #print('Quan')
            Quan.append(columnName)
    return Qual,Quan

In [7]:
Qual,Quan = univariate(morning_df)

In [8]:
Quan

['Duration (Minutes)']

In [9]:
Qual

['Name (Original Name)',
 'User Email',
 'Join Time',
 'Leave Time',
 'Guest',
 'In Waiting Room']

In [10]:
def check_null_values(morning_df, Qual, Quan):
    # Check for null values in Qual columns
    qual_null_counts = {col: morning_df[col].isnull().sum() for col in Qual}
    
    # Check for null values in Quan columns
    quan_null_counts = {col: morning_df[col].isnull().sum() for col in Quan}
    
    return qual_null_counts, quan_null_counts

# Assuming Qual and Quan are already defined using the univariate function
Qual, Quan = univariate(morning_df)

# Check for null values in Qual and Quan columns separately
qual_null_counts, quan_null_counts = check_null_values(morning_df, Qual, Quan)

# Print the null value counts for Qual and Quan columns
print("Null values in Qualitative columns:")
for col, count in qual_null_counts.items():
    print(f"{col}: {count}")

print("\nNull values in Quantitative columns:")
for col, count in quan_null_counts.items():
    print(f"{col}: {count}")

Null values in Qualitative columns:
Name (Original Name): 0
User Email: 708
Join Time: 0
Leave Time: 0
Guest: 0
In Waiting Room: 0

Null values in Quantitative columns:
Duration (Minutes): 0

In [11]:
morning_df.describe()

       Duration (Minutes)
count          724.000000
mean            14.006906
std             13.083991
min              1.000000
25%              4.000000
50%             13.000000
75%             16.000000
max             97.000000

In [12]:
def central_tendency_IQR(morning_df, Quan):
        descriptive = pd.DataFrame(index=['Mean', 'Median', 'Mode', 'Q1:25%', 'Q2:50%', 'Q3:75%', 'Q4:100%', 'IQR', 'Lesser IQR', 'Greater IQR', 'min', 'max', 'kurtosis', 'skew','var','std'], columns=Quan)
    
        for columnName in Quan:
            descriptive.loc["Mean", columnName] = morning_df[columnName].mean()
            descriptive.loc["Median", columnName] = morning_df[columnName].median()
            descriptive.loc["Mode", columnName] = morning_df[columnName].mode()[0]
            descriptive.loc["Q1:25%", columnName] = morning_df[columnName].quantile(0.25)
            descriptive.loc["Q2:50%", columnName] = morning_df[columnName].quantile(0.50)
            descriptive.loc["Q3:75%", columnName] = morning_df[columnName].quantile(0.75)
            descriptive.loc["Q4:100%", columnName] = morning_df[columnName].max()
            descriptive.loc["IQR", columnName] = morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25)
            descriptive.loc["Lesser IQR", columnName] = morning_df[columnName].quantile(0.25) - 1.5 * (morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25))
            descriptive.loc["Greater IQR", columnName] = morning_df[columnName].quantile(0.75) + 1.5 * (morning_df[columnName].quantile(0.75) - morning_df[columnName].quantile(0.25))
            descriptive.loc["min", columnName] = morning_df[columnName].min()
            descriptive.loc["max", columnName] = morning_df[columnName].max()
            descriptive.loc["kurtosis", columnName] = morning_df[columnName].kurtosis()
            descriptive.loc["skew", columnName] = morning_df[columnName].skew()
            descriptive.loc["var", columnName] = morning_df[columnName].var()
            descriptive.loc["std", columnName] = morning_df[columnName].std()
        return descriptive

In [13]:
descriptive = central_tendency_IQR(morning_df, Quan)

In [14]:
descriptive

            Duration (Minutes)
Mean                 14.006906
Median                    13.0
Mode                         1
Q1:25%                     4.0
Q2:50%                    13.0
Q3:75%                    16.0
Q4:100%                     97
IQR                       12.0
Lesser IQR               -14.0
Greater IQR               34.0
min                          1
max                         97
kurtosis                2.7176
skew                  1.554876
var                 171.190824
std                  13.083991

In [15]:
def check_outliers(morning_df, descriptive, Quan):
    lesser = []
    greater = []
    
    # Check for outliers
    for columnName in Quan:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return lesser, greater

In [16]:
check_outliers(morning_df, descriptive, Quan)

([], ['Duration (Minutes)'])

In [17]:
lesser,greater = check_outliers(morning_df,descriptive, Quan)

In [18]:
lesser

[]

In [19]:
greater

['Duration (Minutes)']

In [20]:
def replace_outliers(morning_df, descriptive, lesser, greater):
    for columnName in lesser:
        morning_df.loc[morning_df[columnName] < descriptive.loc['Lesser IQR', columnName], columnName] = descriptive.loc['Lesser IQR', columnName]

    for columnName in greater:
        morning_df.loc[morning_df[columnName] > descriptive.loc['Greater IQR', columnName], columnName] = descriptive.loc['Greater IQR', columnName]

    return morning_df

In [21]:
#Replace outliers in the dataset
morning_df = replace_outliers(morning_df, descriptive, lesser, greater)

In [22]:
morning_df

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,In Waiting Room
0,Krishna Singh (Akshita Roshan),akshita@agie.ai,06/28/2024 09:52:45 AM,06/28/2024 10:17:06 AM,25,No,No
1,Chetan Kumar,NaN,06/28/2024 09:52:52 AM,06/28/2024 09:52:57 AM,1,Yes,Yes
2,Akshita Roshan,NaN,06/28/2024 09:52:52 AM,06/28/2024 09:53:08 AM,1,Yes,Yes
3,Kshitij Tardalkar,NaN,06/28/2024 09:52:56 AM,06/28/2024 09:56:52 AM,4,Yes,Yes
4,Chetan Kumar,NaN,06/28/2024 09:52:57 AM,06/28/2024 10:16:12 AM,24,Yes,No
...,...,...,...,...,...,...,...
719,Yash,NaN,06/28/2024 11:18:14 AM,06/28/2024 11:30:15 AM,13,Yes,No
720,Srilatha Patchava,NaN,06/28/2024 11:19:06 AM,06/28/2024 11:25:53 AM,7,Yes,No
721,Aditya Vikramm Singhal,NaN,06/28/2024 11:19:45 AM,06/28/2024 11:29:37 AM,10,Yes,No
722,Amit Bajpai,NaN,06/28/2024 11:22:17 AM,06/28/2024 11:30:25 AM,9,Yes,No
723,Jawaharlal Nehru,NaN,06/28/2024 11:25:37 AM,06/28/2024 11:30:25 AM,5,Yes,No

In [23]:
descriptive

            Duration (Minutes)
Mean                 14.006906
Median                    13.0
Mode                         1
Q1:25%                     4.0
Q2:50%                    13.0
Q3:75%                    16.0
Q4:100%                     97
IQR                       12.0
Lesser IQR               -14.0
Greater IQR               34.0
min                          1
max                         97
kurtosis                2.7176
skew                  1.554876
var                 171.190824
std                  13.083991

In [24]:
def recheck_outliers_after_replace(morning_df, descriptive, Quan):
    recheck_lesser = []
    recheck_greater = []
    
    # Check for outliers after replacement
    for columnName in Quan:
        if descriptive.loc['Lesser IQR', columnName] > descriptive.loc['min', columnName]:
            lesser.append(columnName)

        if descriptive.loc['Greater IQR', columnName] < descriptive.loc['max', columnName]:
            greater.append(columnName)
    
    return recheck_lesser, recheck_greater

In [25]:
recheck_lesser, recheck_greater = recheck_outliers_after_replace(morning_df,descriptive, Quan)

In [26]:
recheck_lesser

[]

In [27]:
recheck_greater

[]

In [28]:
# Check if any outliers remain
if recheck_lesser or recheck_greater:
    print("Outliers still present after replacement.")
    # Perform additional actions if needed
else:
    print("No outliers remain after replacement.")

No outliers remain after replacement.

In [29]:
# Save the modified dataset to a new CSV file (for example)
modified_file_path = 'morning.csv'
morning_df.to_csv(modified_file_path, index=False)